img{
    width:500px;
    height:500px;
    transition:width 2s, height 4s,transform 2s;
    
}
img:hover{
    width: 250px;
    height: 250px;
    border-radius: 30%;
    transform: rotate(360deg);
}